reportlab
Flask==2.2.5
Flask-Login
flask-bcrypt
seaborn
flask-cors
flask-mongoengine
torch>=1.7.0
Werkzeug
opencv-python-headless
requests
psycopg2-binary
fpdf
flask-migrate
pandas
pillow
gdown
gunicorn
