{% extends 'base.html' %}

{% block content %}

<!-- Mensajes Flash -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info mt-3">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<nav class="navbar sticky-top navbar-he  bg-body-tertiary">
  <div style="display: block;" class="container-fluid text-center">
   <h2>Monitoreo en Vivo</h2>
  </div>
</nav>

<!--vista de datos del monitoreo-->
<div class="row" style="margin-top: 20px;">
  <div class="col-sm-3 mb-3 mb-sm-0 ">
    <div class="card " style="text-align: center; margin-bottom: 5px; border: 2px solid #D13333;">
      <div class="card-header" style="border-bottom-width: 4px;">
        <h5 class="card-title" style="color: #e94427;">Total de Ladrillos</h5>
      </div>
      <div class="card-body" style="text-align: center;">
       <div class="row" style="text-align: center;">
        <div class="col-sm-6 mb-3 mb-sm-0" >
          <i class="bi bi-bricks" style="font-size: 2rem; color: gold;" ></i>
          <p></p>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
          <h1><span id="total" class="text-primary">0</span></h1>
        </div>
       </div>
      </div>
    </div>

    <div class="card " style="text-align: center; margin-bottom: 5px;  border: 2px solid #D13333;">
      <div class="card-header" style="border-bottom-width: 4px;">
        <h5 class="card-title" style="color: #e94427;">Ladrillos Buenos</h5>
      </div>
      <div class="card-body" style="text-align: center;">
       <div class="row" style="text-align: center;">
        <div class="col-sm-6 mb-3 mb-sm-0" >
          <i class="bi bi-hand-thumbs-up" style="font-size: 2rem; color: greenyellow;" ></i>
          <p></p>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
          <h1><span id="buenos" class="text-success">0</span></h1>
        </div>
       </div>
      </div>
    </div>

    <div class="card " style="text-align: center; margin-bottom: 5px; border: 2px solid #D13333;">
      <div class="card-header" style="border-bottom-width: 4px;">
        <h5 class="card-title" style="color: #e94427;">Ladrillos Fracturados</h5>
      </div>
      <div class="card-body" style="text-align: center;">
       <div class="row" style="text-align: center;">
        <div class="col-sm-6 mb-3 mb-sm-0" >
          <i class="bi bi-hand-thumbs-down-fill m-2" style="font-size: 2rem; color: red;" ></i>
          <p></p>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
          <h1> <span id="malos" class="text-danger">0</span></h1>
        </div>
       </div>
      </div>
    </div>
    
    <div class="card " style="text-align: center; margin-bottom: 5px;  border: 2px solid #D13333;">
      <div class="card-header" style="border-bottom-width: 4px;">
        <h5 class="card-title" style="color: #e94427;">Precisión de Ladrillos fracturados</h5>
      </div>
      <div class="card-body" style="text-align: center;">
       <div class="row" style="text-align: center;">
        <div class="col-sm-6 mb-3 mb-sm-0" >
          <i class="bi bi-percent" style="font-size: 2rem; color: red;" ></i>
          <p></p>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
          <h1><span id="precision"><p>0%</p></span></h1>
        </div>
       </div>
      </div>
    </div>

    <div class="card " style="text-align: center; margin-bottom: 5px;  border: 2px solid #D13333;">
      <div class="card-header" style="border-bottom-width: 4px;">
        <h5 class="card-title" style="color: #e94427;">Tiempo Promedio</h5>
      </div>
      <div class="card-body" style="text-align: center;">
       <div class="row" style="text-align: center;">
        <div class="col-sm-6 mb-3 mb-sm-0" >
          <i class="bi bi-alarm" style="font-size: 2rem; color: red;" ></i>
          <p></p>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
          <h4> {% if datos %}
            <p><strong>{{ datos.tiempo_promedio_fisura }} segundos </strong></p>
          {% else %}
            <p><strong></strong> --</p>
          {% endif %}</h4>
        </div>
       </div>
      </div>
    </div>
  </div>

<!--monitoreo-->
 <div class="col-sm-9">
  {% if monitoring_active %}
    <div class="ratio ratio-16x9" id="cameraContainer">
      <img src="{{ url_for('routes.video_feed') }}" 
           class="img-fluid w-100"
           style="max-width: 100%; border-radius: 4px; border: 2px solid #D13333;" />
    </div>
  {% else %}
    <div class="alert alert-warning text-center m-3">
      <strong>El monitoreo no está activo.</strong> Presiona "Iniciar Monitoreo" para comenzar.
    </div>
  {% endif %}




  <!-- Fila centrada de botones -->
    <!-- Selector de cámara -->
<div class="form-group mb-3">
  <label for="camara">Selecciona la cámara:</label>
  <select class="form-control" id="camara" name="camara" {% if monitoring_active %}disabled{% endif %}>
    {% for camara in camaras %}
      <option value="{{ camara }}">Cámara {{ camara }}</option>
    {% endfor %}
  </select>
</div>



  <div class="d-flex justify-content-center align-items-center mt-4 gap-3">
    <!--<form action="{{ url_for('routes.iniciar_monitoreo') }}" method="POST">
      <button type="submit" class="btn btn-success">
        <i class="bi bi-play-btn"></i> Iniciar Monitoreo
      </button>
    </form> -->
    <form action="{{ url_for('routes.iniciar_monitoreo') }}" method="POST" id="formIniciar">
      <input type="hidden" name="camara" id="camaraSeleccionada">
      <button type="submit" class="btn btn-success">
        <i class="bi bi-play-btn"></i> Iniciar Monitoreo
      </button>
    </form>



    {% if monitoring_active %}
    <form action="{{ url_for('routes.finalizar_monitoreo') }}" method="POST">
      <button type="submit" class="btn btn-danger">
        <i class="bi bi-x-square"></i> Finalizar Monitoreo
      </button>
    </form>
    {% endif %}
  </div>
</div>

</div>

<!-- JavaScript -->
<script>
  document.getElementById("formIniciar").addEventListener("submit", function (e) {
    const camara = document.getElementById("camara").value;
    document.getElementById("camaraSeleccionada").value = camara;
  });
</script>

<script>
  document.getElementById("btnIniciar").addEventListener("click", function () {
  const camaraIndex = document.getElementById("camara").value;

  fetch(`/start_monitoring?camara=${camaraIndex}`, {
    method: "GET"
  }).then(response => {
    if (response.ok) {
      console.log("Monitoreo iniciado con cámara:", camaraIndex);
    }
  });
});

</script>

<script>
// Actualizar conteo cada 2 segundos
function actualizarConteo() {
  fetch('/conteo')
    .then(response => response.json())
    .then(data => {
      document.getElementById('total').textContent = data.total;
      document.getElementById('buenos').textContent = data.buenos;
      document.getElementById('malos').textContent = data.malos;
      document.getElementById('precision').textContent = data.precision + '%';
    });
}
setInterval(actualizarConteo, 2000);
</script>



{% if monitoring_finished %}
<script>
  // Reiniciar contadores en la interfaz
  document.getElementById('total').textContent = '0';
  document.getElementById('buenos').textContent = '0';
  document.getElementById('malos').textContent = '0';
  document.getElementById('precision').textContent = '0%';

</script>
{% endif %}

{% endblock %}
