{% extends 'base.html' %}
{% block title %}Panel{% endblock %}
{% block content %}

<nav class="navbar sticky-top navbar-he  bg-body-tertiary">
    <div style="display: block;" class="container-fluid text-center">
     <h2>Panel de Control</h2>
    </div>
</nav>
  
<div class="row row-cols-1 row-cols-md-3 g-4" style="padding-inline: 50px; margin-top: 20px; ">
    <div class="col";">
        <div class="card  mb-3 text-center " style="max-width: 25rem; background-color: green; color: white;">
            <div class="card-header " style="color: white; border-bottom-width: 4px;">
                <H5>TOTAL DE LADRILLOS BUENOS</H5>
            </div>
            <div class="card-body">
                <div class="col text-center">
                    <i class="bi bi-hand-thumbs-up-fill m-2" style="font-size: 3rem; color: white;"></i>
                </div>
            </div>
            <div class="card-footer" style="border-top-width: 4px;">
                <li class="list-group-item" style="font-size: 1.5em ;">
                    <strong>Ladrillos buenos:</strong> {{ total_buenos }}
                </li>
            </div>
        </div>
    </div>

    <div class="col";">
        <div class="card  mb-3 text-center " style="max-width: 25rem; background-color: black; color: white;">
            <div class="card-header " style="color: white; border-bottom-width: 4px;">
                <H5>TIEMPO PROMEDIO DE IDENTIFCACIÓN</H5>
            </div>
            <div class="card-body">
                <div class="col text-center">
                    <i class="bi bi-alarm" style="font-size: 3rem; color: white;"></i>
                </div>
            </div>
            <div class="card-footer" style="border-top-width: 4px;">
                <li class="list-group-item" style="font-size: 1.5em ;">
                    <strong>Identificar fisura:</strong> {{ tiempo_promedio_fisura }} segundos
                </li>
            </div>
        </div>
    </div>

    <div class="col";">
        <div class="card  mb-3 text-center " style="max-width: 25rem; background-color: grey; color: white;">
            <div class="card-header " style="color: white; border-bottom-width: 4px;">
                <H5>TOTAL DE LADRILLOS FABRICADOS</H5>
            </div>
            <div class="card-body">
                <div class="col text-center">
                    <i class="bi bi-bricks" style="font-size: 3rem; color: white;"></i>
                </div>
            </div>
            <div class="card-footer"  style="border-top-width: 4px;">
                <li class="list-group-item" style="font-size: 1.5em ;">
                    <strong>Total de ladrillos:</strong> {{ total_ladrillos }}
                </li>
            </div>
        </div>
    </div>

    <div class="col";">
        <div class="card  mb-3 text-center " style="max-width: 25rem; background-color: #d13333; color: white;">
            <div class="card-header " style="color: white; border-bottom-width: 4px;">
                <H5>TOTAL DE LADRILLOS FRACTURADOS</H5>
            </div>
            <div class="card-body">
                <div class="col text-center">
                    <i class="bi bi-hand-thumbs-down-fill m-2" style="font-size: 3rem; color: white;"></i>
                </div>
            </div>
            <div class="card-footer"  style="border-top-width: 4px;">
                <li class="list-group-item" style="font-size: 1.5em ;">
                    <strong>Ladrillos malos:</strong> {{ total_malos }}
                  </li>
            </div>
        </div>
    </div>

    <div class="col";">
        <div class="card  mb-3 text-center " style="max-width: 25rem; background-color: blue; color: white;">
            <div class="card-header " style="color: white; border-bottom-width: 4px;">
                <H5>PORCENTAJE DE PRECISIÓN</H5>
            </div>
            <div class="card-body">
                <div class="col text-center">
                    <i class="bi bi-percent" style="font-size: 3rem; color: white;"></i>
                </div>
            </div>
            <div class="card-footer"  style="border-top-width: 4px;">
                <li class="list-group-item" style="font-size: 1.5em ;">
                   <strong>Precisión promedio:</strong> {{ precision_promedio }}%
                </li>
            </div>
        </div>
    </div>

</div>


<!--menu response-
{% endblock %}
